{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <div>
                <h1 style="color: #ff000a; font-size: 2.5rem; font-weight: 600;">Cadastro</h1>
                <p style="max-width: 18em; font-size: 1.5rem; margin-top: 10px; margin-bottom: 20px; color: #808080;">Digite seus dados corretamente para se cadastrar</p>
                <a style="color: #ff000a;" href="#">Preciso de ajuda</a>
            </div>
            <section class="login">
                <form action="{% url 'cadastrar' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                    {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <label for="{{ field.id_for_label }}" style="color: #ff0004; margin-bottom: 5px;">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Criar conta</button>
                    </div>
                    <div class="col-12 text-center">
                        <a href="{% url 'login' %}" class="btn btn-success2 col-12" style="padding: top 5px;">Já possui uma conta?</a>
                    </div>
                    <p style="text-align: center; margin-top: 1em; margin-bottom: 1em;">ou</p>
                    <div class="google-btn">
                        <a href="#" class="btn-google google-btn" style="padding: top 5px; text-decoration: none;">
                            <img width="30px" src="{% static 'assets/icons/icon-google.png' %}" alt="icon-google">
                            <p style="text-align: center; color: black;">Se cadastrar com o Google</p>
                        </a>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>
{% endblock %}